In [1]:
import os
import pandas as pd

In [2]:
data_path = 'C:/Users\lukec\OneDrive - University of Cambridge\PhD\Data\ClimateTRACE\May23/'
folders = ['manufacturing/']#, 'mineral_extraction/', 'fossil_fuel_operations/', 'power/', 'waste/']
save_path = "C:/Users\lukec\PycharmProjects\emissions-tracking-conda\emissions-tracking\data\classification_inputs/CT_manufacturing"
key_words = ['asset', 'emissions']

files = []
for folder in folders:
    folder_files = os.listdir(data_path+folder)
    files = files + [data_path+folder+file for file in folder_files if key_words[0] in file and key_words[1] in file and 'transport' not in file]

In [8]:
def filter_df(df:pd.DataFrame, cols:list, filters:list) -> pd.DataFrame:
    """Function for filtering a pandas dataframe based on column values"""
    for col, filt in zip(cols, filters):
        df = df[[i in filt for i in df[col]]]
    return df

In [9]:
data = pd.DataFrame()
for file in files:
    data = pd.concat((data, pd.read_csv(file)))

data_used = filter_df(data, ['gas'], [['co2e_100yr']])

# Extract lat/longs
data_used['LONGITUDE'] = [i.strip("POINT()").split(" ")[0] for i in data_used['st_astext']]
data_used['LATITUDE'] = [i.strip("POINT()").split(" ")[1] for i in data_used['st_astext']]

# Extract dates
data_used['Year'] = pd.to_datetime(data_used['start_time']).dt.year
data_used['Month'] = pd.to_datetime(data_used['start_time']).dt.month

columns = ['asset_id', 'iso3_country', 'original_inventory_sector', 'capacity', 'asset_name', 'asset_type', 'LONGITUDE', 'LATITUDE', 'Year', 'Month', 'emissions_quantity']

data_used = data_used[columns].rename(columns={'emissions_quantity':'Emissions'}).dropna(subset=['Emissions'])

C:\Users\lukec\AppData\Local\Temp/ipykernel_25480/2374859088.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_used['LONGITUDE'] = [i.strip("POINT()").split(" ")[0] for i in data_used['st_astext']]
C:\Users\lukec\AppData\Local\Temp/ipykernel_25480/2374859088.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_used['LATITUDE'] = [i.strip("POINT()").split(" ")[1] for i in data_used['st_astext']]
C:\Users\lukec\AppData\Local\Temp/ipykernel_25480/2374859088.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_used['Year'] = pd.to_datetime(data_used['start_time']).dt.year
C:\Users\lukec\AppData\Local\Temp/ipykernel_25480/2374859088.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_used['Month'] = pd.to_datetime(data_used['start_time']).dt.month

In [10]:
data_used = data_used.merge(data_used[['Year', 'Month']].drop_duplicates().sort_values(['Year', 'Month']).reset_index(drop=True).reset_index().rename(columns={'index':'Timestep'}), on=['Year', 'Month'])
data_used = data_used.drop(columns=['Year', 'Month'])

In [6]:
data_used

,asset_id,iso3_country,original_inventory_sector,capacity,asset_name,asset_type,LONGITUDE,LATITUDE,Emissions,Timestep
0,22087016,IND,aluminum,410000.0,Korba aluminium plant,Unknown,82.736427,22.395148,60175.0,52
1,22087017,IND,aluminum,360000.0,Lapanga aluminium plant,Unknown,84.048315,21.739215,52837.0,52
2,22087018,IND,aluminum,345000.0,Renukoot aluminium plant,Unknown,83.030123,24.223115,50635.0,52
3,22087019,IRN,aluminum,60000.0,Arak aluminium plant,Unknown,49.758279,34.076901,8806.0,52
4,22087020,IRN,aluminum,105000.0,Arak (2) aluminium plant,Unknown,49.76274,34.078385,15411.0,52
...,...,...,...,...,...,...,...,...,...,...
291147,2823,IDN,steel,2500000.0,Krakatau Steel plant,integrated (DRI),106.001766,-6.007021,50417.0,89
291148,2376,AUS,steel,3200000.0,BlueScope Port Kembla steel plant,integrated (BF),150.886191,-34.463834,372552.0,89
291149,2477,CHN,steel,6500000.0,"Tangshan Ganglu Iron and Steel Co., Ltd.",integrated (BF),118.073913,40.183913,846930.0,89
291150,2658,CHN,steel,7300000.0,"Baosteel Group Xinjiang Bayi Iron & Steel Co.,...",integrated (BF),87.304639,43.852147,632478.0,89
291151,2953,KOR,steel,2200000.0,Dongkuk Steel Incheon steel plant,electric,126.638607,37.486465,21703.0,89

In [7]:
feature_cols = [i for i in data_used.columns if i not in ['Timestep', 'Emissions']]
# data_pivoted = data_used.pivot(index=feature_cols,
#                       columns=['Year', 'Month'] if 'Month' in data_used.columns else 'Year',
#                       values = 'Emissions').reset_index()
data_pivoted = data_used.pivot(index=feature_cols, columns='Timestep', values = 'Emissions').reset_index()

In [8]:
data_pivoted

Timestep,asset_id,iso3_country,original_inventory_sector,capacity,asset_name,asset_type,LONGITUDE,LATITUDE,0,1,...,80,81,82,83,84,85,86,87,88,89
0,2368,ARE,steel,3500000.0,GHC Emirates Steel Industries Abu Dhabi plant,integrated (DRI),54.467987,24.322033,62492.0,62492.0,...,41140.0,49744.0,59358.0,62084.0,44916.0,46388.0,61382.0,67847.0,70583.0,67945.0
1,2369,ALB,steel,700000.0,Kurum International Elbasan steel plant,integrated (BF),20.026117,41.094611,21088.0,21088.0,...,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0
2,2370,ARG,steel,1700000.0,ArcelorMittal Acindar Villa Constitución steel...,integrated (DRI),-60.300415,-33.249936,28164.0,26884.0,...,25371.0,30554.0,32351.0,25523.0,23674.0,23793.0,28470.0,19893.0,29533.0,31276.0
3,2371,ARG,steel,1300000.0,TenarisSiderca Campana steel plant,integrated (DRI),-58.977388,-34.152554,21537.0,20558.0,...,19402.0,23365.0,24739.0,19518.0,18103.0,18195.0,21771.0,15212.0,22584.0,23917.0
4,2372,ARG,steel,3200000.0,Ternium Siderar San Nicolás steel plant,integrated (BF),-60.138697,-33.37365,317156.0,317156.0,...,308826.0,253270.0,230394.0,300656.0,207518.0,148694.0,235296.0,267976.0,267976.0,267976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3290,22087062,USA,aluminum,220000.0,Sebree aluminium plant,Unknown,-87.500499,37.657434,66114.0,59761.0,...,52205.0,54609.0,52892.0,55296.0,NaN,NaN,NaN,NaN,NaN,NaN
3291,22087063,USA,aluminum,187000.0,New Madrid aluminium plant,Unknown,-89.56376,36.508977,56197.0,50796.0,...,44374.0,46417.0,44958.0,47001.0,NaN,NaN,NaN,NaN,NaN,NaN
3292,22087064,USA,aluminum,135000.0,Massena aluminium plant,Unknown,-74.89016,44.961979,40570.0,36671.0,...,32035.0,33510.0,32456.0,33931.0,NaN,NaN,NaN,NaN,NaN,NaN
3293,22087065,USA,aluminum,184000.0,Mount Holly aluminium plant,Unknown,-80.054213,33.049111,55296.0,49982.0,...,43662.0,45673.0,44237.0,46247.0,NaN,NaN,NaN,NaN,NaN,NaN
3294,22087066,ZAF,aluminum,724000.0,Richards Bay Hillside aluminium plant,Unknown,32.031062,-28.766982,146278.0,132980.0,...,135026.0,140141.0,134003.0,141164.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data_pivoted.to_csv(save_path+'.csv', index=False)
data_used.to_csv(save_path+'_melted.csv', index=False)

In [3]:
data = pd.read_csv(save_path+'.csv')

In [7]:
data

,asset_id,iso3_country,original_inventory_sector,capacity,asset_name,asset_type,LONGITUDE,LATITUDE,0,1,...,80,81,82,83,84,85,86,87,88,89
0,2368,ARE,steel,3500000.0,GHC Emirates Steel Industries Abu Dhabi plant,integrated (DRI),54.467987,24.322033,62492.0,62492.0,...,41140.0,49744.0,59358.0,62084.0,44916.0,46388.0,61382.0,67847.0,70583.0,67945.0
1,2369,ALB,steel,700000.0,Kurum International Elbasan steel plant,integrated (BF),20.026117,41.094611,21088.0,21088.0,...,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0,6808.0
2,2370,ARG,steel,1700000.0,ArcelorMittal Acindar Villa Constitución steel...,integrated (DRI),-60.300415,-33.249936,28164.0,26884.0,...,25371.0,30554.0,32351.0,25523.0,23674.0,23793.0,28470.0,19893.0,29533.0,31276.0
3,2371,ARG,steel,1300000.0,TenarisSiderca Campana steel plant,integrated (DRI),-58.977388,-34.152554,21537.0,20558.0,...,19402.0,23365.0,24739.0,19518.0,18103.0,18195.0,21771.0,15212.0,22584.0,23917.0
4,2372,ARG,steel,3200000.0,Ternium Siderar San Nicolás steel plant,integrated (BF),-60.138697,-33.373650,317156.0,317156.0,...,308826.0,253270.0,230394.0,300656.0,207518.0,148694.0,235296.0,267976.0,267976.0,267976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3290,22087062,USA,aluminum,220000.0,Sebree aluminium plant,Unknown,-87.500499,37.657434,66114.0,59761.0,...,52205.0,54609.0,52892.0,55296.0,NaN,NaN,NaN,NaN,NaN,NaN
3291,22087063,USA,aluminum,187000.0,New Madrid aluminium plant,Unknown,-89.563760,36.508977,56197.0,50796.0,...,44374.0,46417.0,44958.0,47001.0,NaN,NaN,NaN,NaN,NaN,NaN
3292,22087064,USA,aluminum,135000.0,Massena aluminium plant,Unknown,-74.890160,44.961979,40570.0,36671.0,...,32035.0,33510.0,32456.0,33931.0,NaN,NaN,NaN,NaN,NaN,NaN
3293,22087065,USA,aluminum,184000.0,Mount Holly aluminium plant,Unknown,-80.054213,33.049111,55296.0,49982.0,...,43662.0,45673.0,44237.0,46247.0,NaN,NaN,NaN,NaN,NaN,NaN
3294,22087066,ZAF,aluminum,724000.0,Richards Bay Hillside aluminium plant,Unknown,32.031062,-28.766982,146278.0,132980.0,...,135026.0,140141.0,134003.0,141164.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data['capacity'].unique()

array([ 3500000.    ,   700000.    ,  1700000.    ,  1300000.    ,
        3200000.    ,   650000.    ,  6000000.    ,  1570000.    ,
        1200000.    ,   790000.    ,   620000.    ,  1000000.    ,
        1940000.    ,  1008000.    ,  1400000.    ,   580000.    ,
         800000.    ,  5000000.    ,   850000.    ,  4500000.    ,
        7500000.    ,  6250000.    ,  3000000.    ,  1100000.    ,
        3620000.    ,   600000.    ,   950000.    ,   540000.    ,
         500000.    ,   900000.    ,  2400000.    ,  4050000.    ,
        2500000.    ,   949000.    ,   668000.    ,  1450000.    ,
         520000.    , 17600000.    ,  3800000.    ,  1260000.    ,
        2000000.    ,  8400000.    ,  6800000.    ,  2550000.    ,
        4620000.    ,  1150000.    ,  1800000.    ,   720000.    ,
        6500000.    ,  4000000.    ,  8000000.    , 12528000.    ,
        3220000.    ,  1610000.    , 12500000.    ,  3400000.    ,
        3335000.    ,  2070000.    ,  1600000.    , 13000000.    ,
        2160000.    , 13700000.    ,  5500000.    ,  6245000.    ,
       10000000.    ,  7000000.    , 12000000.    ,  4100000.    ,
        2200000.    ,  2250000.    ,  2530000.    ,  2760000.    ,
        3419000.    ,  2600000.    ,  2720000.    ,  3600000.    ,
        4200000.    ,  2588000.    ,   960000.    , 15910000.    ,
        4400000.    ,  1660000.    ,   737000.    ,   678000.    ,
        7250000.    ,  9000000.    , 17500000.    ,  2450000.    ,
        1095000.    , 27000000.    ,  2210000.    ,  6900000.    ,
       11000000.    ,  3180000.    ,  2700000.    ,  3050000.    ,
        1500000.    ,  1140000.    ,  5700000.    ,  7660000.    ,
        2650000.    ,  4700000.    ,  4600000.    ,  3300000.    ,
       18700000.    ,  1540000.    ,  2800000.    ,  7100000.    ,
        3700000.    ,  3450000.    ,  4650000.    ,  5400000.    ,
       16190000.    , 12940000.    ,  3650000.    ,  1900000.    ,
        2300000.    ,  5900000.    ,  4300000.    ,   670000.    ,
        5200000.    ,  1350000.    ,  7300000.    ,  1650000.    ,
        9200000.    ,  7700000.    ,  8500000.    ,  1725000.    ,
        7470000.    ,  1010000.    ,  3250000.    ,  3480000.    ,
        1750000.    ,  6940000.    ,  2440000.    ,  1060000.    ,
        1120000.    ,  1050000.    ,  3080000.    ,  1380000.    ,
        1215000.    ,  1575000.    ,   780000.    ,  1110000.    ,
       11560000.    ,  3240000.    ,  1180000.    ,  2100000.    ,
        2050000.    ,   750000.    ,   740000.    ,   862500.    ,
        6750000.    ,  5100000.    ,   730000.    ,   550000.    ,
        4900000.    ,  1220000.    ,   690000.    ,  5600000.    ,
         575000.    ,  2570000.    ,   288000.    ,   200000.    ,
         230000.    ,   860000.    ,   400000.    ,  1250000.    ,
        1066000.    ,    92400.    ,   100000.    ,   306000.    ,
         325000.    ,  3850000.    , 11500000.    ,   805000.    ,
        1495000.    ,  4075000.    ,   852000.    ,  2816000.    ,
        2583000.    ,  5848000.    ,  8753000.    ,  3599000.    ,
        7162000.    ,  5490000.    ,  1596000.    ,   660000.    ,
        1265000.    ,   760000.    ,  4800000.    , 16600000.    ,
       23000000.    , 17400000.    ,  2110000.    ,  6400000.    ,
        2086525.5   ,  1330000.    ,  1995807.    ,   762035.4   ,
         816000.    ,   820000.    ,  1280000.    ,  1340000.    ,
         840000.    ,  2558000.    ,  2150000.    , 14500000.    ,
       13200000.    ,   756000.    , 11600000.    ,   726000.    ,
        1320000.    ,  5800000.    , 10100000.    ,  6080000.    ,
        6200000.    ,  7254000.    ,   943000.    ,  1753000.    ,
         965000.    ,  1270000.    ,  1134000.    ,  1905000.    ,
        2956000.    ,  2304000.    ,   907000.    ,  1542000.    ,
         891000.    ,  2268000.    ,  1452000.    ,   794000.    ,
        2632000.    ,   908000.    ,   855000.    ,  1092000.    ,
        2900000.    ,  1698000.    ,  1111000.    ,  7800000.    ,
         590000.    ,   725000.    ,   630000.    ,   770000.    ,
         744000.    ,   573000.    ,   925000.    ,   502000.    ,
         544000.    ,   617000.    ,   653000.    ,   776000.    ,
         354000.    ,   680388.75  ,  3150000.    ,   360000.    ,
        1830000.    ,   300000.    ,  2181428.571 ,  4270000.    ,
        2090000.    ,   350000.    ,  1721000.    ,  1560000.    ,
         890000.    ,  1590000.    ,  2540000.    ,  1310000.    ,
         250000.    ,  1020000.    ,   270000.    ,   641666.6667,
        2290000.    ,  1262500.    ,  1241000.    ,   338000.    ,
         166000.    ,   825000.    ,  1520000.    ,  1450303.03  ,
        1790000.    ,  1730000.    ,  1490000.    ,   930000.    ,
        1720000.    ,  1040000.    ,   640000.    ,  2040000.    ,
        1080000.    ,   920000.    ,  1670000.    ,   375000.    ,
        1475000.    ,  1571000.    ,  1356000.    ,  1176000.    ,
        1319000.    ,  1157000.    ,  1580000.    ,   645000.    ,
         996666.6667,  1190000.    ,   940000.    ,   846000.    ,
         980000.    , 15000000.    ,  1620000.    ,  6600000.    ,
       12600000.    ,  4860000.    ,  2520000.    ,  1440000.    ,
       14000000.    ,  2480000.    ,  1470000.    ,  1960000.    ,
        1290000.    ,  1420000.    ,  1210000.    ,  2420000.    ,
        1160000.    ,  2940000.    ,  2130000.    ,  1880000.    ,
        1680000.    ,  2910000.    ,  3190000.    ,  1910000.    ,
        1370000.    ,  1990000.    ,  1970000.    ,  2080000.    ,
         970000.    ,  2190000.    ,  2690000.    ,  3590000.    ,
        2555000.    ,  1410000.    ,  2370000.    ,  3680000.    ,
        1820000.    ,  1230000.    ,   830000.    ,  2180000.    ,
        3570000.    ,  1890000.    ,  1530000.    ,  2010000.    ,
        1510000.    ,  4380000.    ,  1460000.    ,  1640000.    ,
        2020000.    ,  1130000.    ,  1740000.    ,  1810000.    ,
        2680000.    ,  1430000.    ,  2030000.    ,  2310000.    ,
        1870000.    ,  2230000.    ,  1090000.    ,  1840000.    ,
        3140000.    ,  2510000.    ,  2610000.    ,   910000.    ,
        2280000.    ,  2930000.    ,  2170000.    ,  1860000.    ,
        2630000.    ,  1710000.    ,  1630000.    ,  2920000.    ,
        3430000.    ,  1390000.    ,  1760000.    ,  1550000.    ,
        2410000.    ,  1930000.    ,  3010000.    ,  3530000.    ,
         990000.    ,  3740000.    ,  1850000.    ,  2320000.    ,
        2140000.    ,  1360000.    ,  2960000.    ,  1480000.    ,
        2820000.    ,  1690000.    ,  2060000.    ,  1070000.    ,
        1780000.    ,  1240000.    ,  2430000.    ,  2350000.    ,
        1030000.    ,  2560000.    ,  2120000.    ,  2330000.    ,
         710000.    ,  3020000.    ,  2220000.    ,  2390000.    ,
        1170000.    ,  1950000.    ,  3230000.    ,  2710000.    ,
        2470000.    ,  2870000.    ,  2850000.    ,  3130000.    ,
         453333.3333,   560000.    ,  1079000.    ,   880000.    ,
         450000.    ,   210000.    ,   877500.    ,  1625000.    ,
        2260000.    ,   240000.    ,  2950000.    ,  1518000.    ,
        1066666.667 ,  3076421.053 ,   410000.    ,  4752000.    ,
        3615000.    ,  4625000.    , 10600000.    ,    45000.    ,
        1574240.    ,  1055000.    ,   815000.    ,   936000.    ,
        2276000.    ,  2590000.    ,   480000.    ,   180000.    ,
         666666.6667,   110000.    , 20500000.    ,  2742812.5   ,
        2620000.    ,  8800000.    ,  5980000.    ,   420000.    ,
        2087394.958 ,  2890000.    ,  1920000.    ,  2640000.    ,
        3520000.    ,  2340000.    ,  2460000.    ,   290000.    ,
        2360000.    ,  2750000.    ,  1770000.    ,  1433333.333 ,
        1278000.    ,  1678562.5   ,   108000.    ,  2270000.    ,
         165000.    ,  2580000.    ,  3060000.    ,  2740000.    ,
         198000.    ,  1781000.    ,  1959000.    ,   401000.    ,
        1542230.769 ,  2770000.    ,   870000.    ,  1844380.287 ,
        1231250.    ,  1986666.667 ,  1865000.    ,  4350000.    ,
        1793750.    ,  3090000.    ,  1223333.333 ,   359000.    ,
         829500.    ,  3410466.667 ,  8100000.    ,  9720000.    ,
        3260000.    ,  1500769.231 ,  1980000.    ,  2010952.381 ,
        7200000.    ,  2860000.    ,  1776666.667 ,   340000.    ,
        2295000.    , 13250000.    ,  5274285.714 ,  2670000.    ,
        1862500.    ,    50000.    ,  2494200.    ,  2840000.    ,
         504000.    ,   675000.    ,   576000.    ,  1995000.    ,
        1781111.111 ,  1616000.    ,  1325000.    ,  1962000.    ,
        1419000.    ,  4533000.    ,  4139000.    ,  4699000.    ,
        1774000.    ,  2302000.    ,  1332000.    ,  2708000.    ,
        2598000.    ,  3075000.    ,  2154000.    ,  2365000.    ,
       10643000.    ,  2602000.    ,  2394763.158 ,   407000.    ,
        3770000.    ,  3640000.    ,  3748571.429 ,  3710000.    ,
        1876666.667 ,  2970000.    ,  1702500.    ,   833333.3333,
        5320000.    ,  1777310.638 ,   596000.    ,  5068000.    ,
        1497600.    ,  4140000.    ,  2592000.    ,   810000.    ,
        1266000.    ,  2269666.667 ,  3120000.    ,  4447000.    ,
         406800.    ,   682000.    ,   818000.    ,  1697600.    ,
         490000.    ,   220000.    ,  1829262.295 ,  1793333.333 ,
        1192000.    ,   510000.    ,   460000.    , 18000000.    ,
        5472000.    ,  1628000.    ,   329000.    ,   192000.    ,
         295000.    ,   232000.    ,   280000.    ,   236000.    ,
         435000.    ,   260000.    ,   320000.    ,   372000.    ,
         436000.    ,   355000.    ,  1359000.    ,   235000.    ,
         806000.    ,   842000.    ,   440000.    ,   430000.    ,
         530000.    ,   380000.    ,   370000.    ,   312000.    ,
         555000.    ,   330000.    ,  1714000.    ,   954000.    ,
         453000.    ,   305000.    ,   570000.    ,   170000.    ,
         135000.    ,   150000.    ,    96000.    ,   285000.    ,
         145000.    ,    38000.    ,    40000.    ,   190000.    ,
         415000.    ,   345000.    ,    60000.    ,   105000.    ,
         104000.    ,    72000.    ,   265000.    ,   120000.    ,
         204000.    ,    65000.    ,   271000.    ,    95000.    ,
         662000.    ,   113000.    ,   215000.    ,   545000.    ,
          70000.    ,   796000.    ,   132000.    ,    75000.    ,
         161000.    ,   187000.    ,   184000.    ,   724000.    ])